@{
    ViewData["Title"] = "Home Page";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Book App</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<nav class="tm-black-bg tm-drinks-nav">
    <ul>
        <li>
            <a href="#" class="tm-tab-link active" data-id="cold">MEU CAFE</a>
        </li>
    </ul>
</nav>

<div id="cold" class="tm-tab-content">
    <div class="tm-list">
        <div class="tm-list-item">
            <img src="img/iced-americano.png" alt="Image" class="tm-list-item-img">
            <div class="tm-black-bg tm-list-item-text">
                <h3 class="tm-list-item-name">CÀ PHÊ ĐÁ<span class="tm-list-item-price">10.000</span></h3>
                <p class="tm-list-item-description">Đây là một mô tả ngắn cho mục đầu tiên. Mẫu Wave Cafe được cung cấp bởi Tooplate.</p>
            </div>
        </div>
        <div class="tm-list-item">
            <img src="img/iced-cappuccino.png" alt="Image" class="tm-list-item-img">
            <div class="tm-black-bg tm-list-item-text">
                <h3 class="tm-list-item-name">CÀ PHÊ SỮA<span class="tm-list-item-price">12.000</span></h3>
                <p class="tm-list-item-description"> cafe đến từ Daklak chuyên cung cấp cafe giá sỉ tốt nhất cho các quán. Chúng tôi sẽ mang đến cho bạn những hạt cafe nguyên chất sạch chất lượng vì sức khỏe.</p>
            </div>
        </div>
        <div class="tm-list-item">
            <img src="img/iced-espresso.png" alt="Image" class="tm-list-item-img">
            <div class="tm-black-bg tm-list-item-text">
                <h3 class="tm-list-item-name">Cà Phê Sữa Tươi<span class="tm-list-item-price">14.000</span></h3>
                <p class="tm-list-item-description">Cà phê sữa tươi thức uống vị với hương vị cafe và thơm béo của sữa tươi khá thu hút giới trẻ. Bonjour Coffee sẽ mách bạn cách pha.</p>
            </div>
        </div>
        <div class="tm-list-item">
            <img src="img/iced-latte.png" alt="Image" class="tm-list-item-img">
            <div class="tm-black-bg tm-list-item-text">
                <h3 class="tm-list-item-name">Cafe Aik Cheong Cappuccino<span class="tm-list-item-price">21.000</span></h3>
                <p class="tm-list-item-description">Thương hiệu nổi tiếng đến từ Malaysia - Hương vị cappuccino thơm ngon tự nhiên </p>
            </div>
        </div>

    </div>
</div>

               

<!-- About Us Page -->
<!--<div id="about" class="tm-page-content">
    <div class="tm-black-bg tm-mb-20 tm-about-box-1">
        <h2 class="tm-text-primary tm-about-header">About Wave Cafe</h2>
        <div class="tm-list-item tm-list-item-2">
            <img src="img/about-1.png" alt="Image" class="tm-list-item-img tm-list-item-img-big">
            <div class="tm-list-item-text-2">
                <p>Wave Cafe is a one-page video background HTML CSS template from Tooplate. You can use this for your business websites.</p>
                <p>You can also use this for your client websites which you get paid for your website services. Please tell your friends about us.</p>
            </div>
        </div>
    </div>
    <div class="tm-black-bg tm-mb-20 tm-about-box-2">
        <div class="tm-list-item tm-list-item-2">
            <div class="tm-list-item-text-2">
                <h2 class="tm-text-primary">How we began</h2>
                <p>If you wish to support us, please contact Tooplate. Thank you. Duis bibendum erat nec ipsum consectetur sodales.</p>
            </div>
            <img src="img/about-2.png" alt="Image" class="tm-list-item-img tm-list-item-img-big tm-img-right">
        </div>
        <p>Donec non urna elit. Quisque ut magna in dui mattis iaculis eu finibus metus. Suspendisse vel mi a lacus finibus vehicula vel ut diam. Nam pellentesque, mi quis ullamcorper.</p>
    </div>
</div>-->
<!-- end About Us Page -->
<!-- Special Items Page -->

<!-- end Special Items Page -->
<!-- Contact Page -->


